.game {
    height: 100%;
    width: 100%;
}
.game-vs{
    text-align: center;
    justify-content: center;
    padding: 30px 0px;
}

.game-header {
    display: flex;
    height: 15%;
    justify-content: space-between; 
    font-size: 32px;
}

.game-header-p1
{
    height: 100%;
    width: 50%;
    justify-items: center;
    align-items: center;
    display: flex;
}
.game-player1-avatar{
    border: 1px solid black;
    width: 96px;
    height: 96px; 
    border-radius: 50%;
    margin-top: 6px;
    margin-left: 150px;
}
.game-header-p1name{
    margin-left: 70px;
    margin-right: 70px;
}
.game-header-p2
{
    height: 100%;
    width:  50%;
    display: flex;
    justify-items: center;
    align-items: center;
    display: flex;
}


.game-player2-avatar{
    margin-top: 6px;
    border: 1px solid black;
    width: 96px;
    height: 96px; 
    border-radius: 50%;
}

.game-header-p2name{
    margin-right: 70px;
}
.game-header-p2score{
    margin-left: 70px;
    margin-right: 70px;
}

@keyframes blink {
    0%{ opacity: 1; } /* 0초와 4초(100%)에 모두 보이도록 설정 */
    20%, 80% { opacity: 0; } /* 2초(50%)에 숨김 */

  }
  
  .ghost-canvas {
    animation: blink 2s ease-in-out infinite; /* 재생 속도를 빠르게 하기 위해 4s를 2s로 변경 */
    border: yellow;
  }
  
  