.game {
    height: 100%;
    width: 100%;
}

.game-vs{
    text-align: center;
    justify-content: center;
    padding: 30px 0px;
}

.game-header {
    display: flex;
    height: 15%;
    justify-content: space-between; 
    font-size: 32px;
}

.game-header-p1
{
    height: 100%;
    width: 50%;
    justify-items: center;
    align-items: center;
    display: flex;
}

.game-player1-avatar{
    border: 1px solid black;
    width: 96px;
    height: 96px; 
    border-radius: 50%;
    margin-top: 6px;
    margin-left: 150px;
}

.game-header-p1name{
    margin-left: 70px;
    margin-right: 70px;
}

.game-header-p2
{
    height: 100%;
    width:  50%;
    display: flex;
    justify-items: center;
    align-items: center;
    display: flex;
}

.game-player2-avatar{
    margin-top: 6px;
    border: 1px solid black;
    width: 96px;
    height: 96px; 
    border-radius: 50%;
}

.game-header-p2name{
    margin-right: 70px;
}

.game-header-p2score{
    margin-left: 70px;
    margin-right: 70px;
}

  /* Game-Result */

.Game-Result{
    height:100%;
    display: flex;
    flex-direction: column;
}

.Game-Result_upper{
    height: 5;
    display: flex;
    flex-direction: row;
}

.Game-Result_leftbox{
    width: 50%;
    height:100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.Game-Result_leftbox img{
    border: solid white 4px;
    width: 180px;
    height: 180px;
}

.Game-Result_Name{
    color: black;
    margin-top: 10px;
    font-size: 32px;
    font-weight: 700;
}

.Game-Result_rightbox{
    height:100%;
    width: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Game-Result_rightbox img{
    border: solid white 4px;
    width: 180px;
    height: 180px;
}

.Game-Result_middle_resultbox
{
    height:40%;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;  
}

.Game-Result_scorebox{
    display:flex;
    align-items: flex-start;
    height:40%;
    flex-direction: row;
}

.Game-Result_score_left{
    color: #6E6E6E;
    line-height: 1; 
    font-size: 60px;
    padding-right: 195px;
    padding-top: 10px;                  
}

.Game-Result_score_right{
    color: #6E6E6E;
    line-height: 1; 
    font-size: 60px;
    padding-left: 195px;
    padding-top: 10px;
}

.Game-Result_score_left_winner_LeftBox{
    line-height: 1; 
    font-size: 72px;
    padding-right: 195px;
    color: #f69173;
    font-weight: 700;
}

.Game-Result_score_right_winner_RightBox{
    line-height: 1; 
    font-size: 72px;
    padding-left: 195px;
    color: #f69173;
    font-weight: 700;
}

.Game-Result_text{
    font-size: 50px;
    color: white;
    font-weight: 800;    
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -2px black;
}

.Game-Result_VS{
    color: gray;
    font-size: 40px;
    padding-bottom: 50px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Game-Result_under{
    height: 5%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center; 
    align-items: center;
}

.Game-Result_under_gotoMain{
    font-size: 20px;
    margin-left: 20px;
    width: 150px;
    height: 50px;
}

.Game-Result_under_gotoRanking{
    font-size: 20px;
    width: 150px;
    height: 50px;
}
