.chat{
    flex-direction: column;
    border: solid black;
    height: 100%;
    width: 100%;
    position: relative;
  }
  
  .chat-box{
    flex-direction: row;
    background-color: yellow;
    margin: 10px 10px;
    height: 64px;
    display: flex;
  }
  
  .chat-box-mine{
    flex-direction: row;
    background-color: white;
    margin: 10px 10px;
    height: 64px;
    display: flex;
  }
  
  .chat-userimg-box{
    border: 1px solid black;
    width: 64px;
    height: 100%; 
    margin-right: 20px;
  }
  
  .chat-userimg{
    background-color: black;
    width:100%;
    height: 100%;
  }
  
  .chat-userinfo{
    display: flex;
    align-items:baseline;
    flex-direction: column;
  }
  
  .chat-inputbox{
    display: block;
    position : absolute;
    width: 100%;
    bottom : 10px;
  }
  .chat-input{
    width: 90%;
    margin-left: 15px;
  }
  
  .chat-input-button{
    margin-left: 20px;
  }
  
  .chat-scroll {
    overflow: scroll;
    height: 80%;
  
  }