.channel-admin{
    display: flex;
    height: 100%;
    width: 100%;
    border: solid black;
    align-items: center;
  }
  
  .admin-list-box{
    /* float: left; */
    margin-left: 10px;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .admin-setting-box{
    /* float: right; */
    margin-left: 15px;
    margin-top: 30px;
    /* border: solid red; */
    height: 100%;
    width: 45%;
  }
  
  .admin-user-box{
    border: 2px solid black;
    height: 45%;
    /* margin-bottom: 5%; */
  }
  
  .user-info-box{
    border: solid black;
    display: flex;
    margin-bottom: 1px;
  }
  
  .user-info-intra{
    margin-left: 10%;
    width: 30%;
  }
  .admin-pass-box{
    
  }