.channel-admin{
    display: flex;
    height: 100%;
    width: 100%;
    border: solid black;
    align-items: center;
  }
  
  .admin-list-box{
    /* float: left; */
    margin-left: 10px;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .admin-setting-back {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color:transparent;
    border-radius: 10px;
  }

  .admin-setting-box{
    /* float: right; */
    margin-left: 15px;
    /* margin-top: 30px; */
    /* border: solid red; */
    height: 95%;
    width: 45%;
    position: relative;
  }

  .admin-option-box {
    width: 45%;
    height: 70px;
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 10px;
  }

  .admin-setting-box input{
    width: 100%;
    height: 30px;
  	background-color:transparent;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 23px;
  }
  
  .admin-input-form {
    position: relative;
  }

  .admin-input-button {
    position: absolute;
    right: 4px;
    top: 2px;
    border-radius: 30%;
    width: 25px;
    height: 25px;
    border: none;
  	background-color:transparent;
    font-family: sans-serif;
  }


  .admin-user-box{
    border: 2px solid black;
    height: 45%;
    /* margin-bottom: 5%; */
  }
  
  .user-info-box{
    /* border: solid black; */
    border-bottom: solid rgb(105, 105, 105);
    display: flex;
    margin-bottom: 1px;
  }
  
  .user-info-intra{
    margin-left: 10%;
    width: 30%;
  }

  .admin-pass-box {
    position: absolute;
    /* bottom: 50px; */
    /* left: 10px; */
  }

  .admin-pass-box input {
    width: 70%;
    border-radius: 0;
  }

  .admin-pass-box button {
    /* border-radius: 10px; */
    border: 1px solid black;
    background-color:transparent;
    font-family: sans-serif;
    position: absolute;
    top: 46px;
    right: 20px;
    height: 30px;
  }

  .channel-admin-invite {
    /* font-size: 20px; */
    position: relative;
  }

  .channel-admin-invite-button {
    position: absolute;
    right: 4px;
    top: 34px;
    border-radius: 30%;
    width: 25px;
    height: 25px;
    border: none;
    background-color:transparent;
    font-family: sans-serif;
  }