.my-info {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 110px;
	background-color: #D9D9D9;
}

.my-info-line {
	position: relative;
	display: flex;
	align-items: center;
	width: 290px;
	height: 92px;
	border: 1px solid black;
}

.state-circle{
	position: absolute;
	border: 1px solid;
	border-radius: 100%;
	width: 10px;
	height: 10px;
	left: 3px;
	top: 5px;
}

.state-circle-state0 {
	background-color: #A4ABB6;
}

.state-circle-state1 {
	background-color: #56F000;
}

.state-circle-state2 {
	background-color: #2DCCFF;
}

.my-info-avatar {
	margin-left: 7px;
	border: 1px solid;
	border-radius: 30%;
	width: 70px;
	height: 70px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.my-info-info {
	display: flex;
	width: 70%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
}

.my-info-text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 92%;
}

.my-info-button {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 92%;
}

.small-square {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 76px;
	height: 26px;
	border: 1px solid black;
	background-color:transparent;
}

.my-toggle-position {
	margin-left: 5px;
	width: 12px;
	height: 12px;
}

.my-score-box {
	position: absolute;
	bottom: -200px;
	right: 25px;
	width: 235px;
	height: 200px;
	border: 1px solid black;
	background-color: #D9D9D9;
	z-index: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.my-score-table {
	display: flex;
	width: 100%;
	height: 163px;
	border: none;
	flex-direction: column;

}

.my-info-change {
	position: absolute;
	width: 350px;
	height: 435px;
	border: 1px solid red;
	top: 90px;
	background-color: #D9D9D9;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 1;
}

.my-info-change-avatar {
	position: absolute;
	top: 25px;
	border-radius: 100%;
	width: 130px;
	height: 130px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid black;
}

.my-info-change-close {
	background-color:transparent;
	border: none;
	position: absolute;
	top: 10px;
	left: 8px;
}

.my-info-change-avatar-box {
	display: flex;
	bottom: 145px;
	position: absolute;
	width: 80%;
	flex-direction: column;
	align-items: center;
}

.my-info-change-avatar-buttons {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 30px;
}

.my-info-change-avatar-button {
	width: 60px;
	height: 34px;
	background-color:transparent;
	border: 1px solid black;
}

.my-info-change-nick-box {
	position: absolute;
	bottom: 80px;
}

.my-info-change-set-button {
	position: absolute;
	bottom: 20px;
	background-color:transparent;
	border: 1px solid black;
}

.my-info-change-nick-submit {
	background-color:transparent;
	border: 1px solid black;
}

.check-email-close {
	background-color:transparent;
	border: none;
	position: absolute;
	top: 10px;
	left: 8px;
}