.my-info {
	margin-top: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 110px;
	background-color: #D9D9D9;
}

.my-info-line {
	position: relative;
	display: flex;
	align-items: center;
	width: 90%;
	height: 80%;
	border: 1px solid black;
}

.state-circle{
	position: absolute;
	border: 1px solid;
	border-radius: 100%;
	width: 10px;
	height: 10px;
	left: 3px;
	top: 5px;
}

.my-info-avatar {
	margin-left: 2%;
	border: 1px solid;
	border-radius: 100%;
	width: 70px;
	height: 70px;
}
.my-info-info {
	display: flex;
	width: 70%;
	height: 100%;
	/* justify-content: space-around; */
	align-items: center;
	margin-left: 13px;
}

.my-info-text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 92%;
}

.my-info-button {
	margin-left: 13px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 92%;
}

.with-triangle {
	display: flex;
	justify-content: center;
	align-items: center;
}

.small-square {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 76px;
	height: 26px;
	border: 1px solid black;
	background-color:transparent;
}

.inverted-triangle {
	margin-left: 3px;
	width: 12px;
	height: 12px;
}