.ranking{
    height:100%;
    display: flex;
    flex-direction: row;
    border: skyblue solid 3px;
}



.ranking-123rk{
    max-height: 100%;
    max-width: 60%;
    border: green solid 2px;
    display: flex;
    justify-content: center; /* 가운데 정렬 추가 */
    align-items: center;
    background-image: url("../../public/ranking/contest2.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* 이미지 크기 조정을 위해 contain으로 설정 */
}

.ranking-2rk{
    height: 50%;
    width: 20%;
    border: yellow solid 2px;
    text-align: center;
    justify-content: flex-start;
    order: 1;
}

.ranking-2rk img{
    height: 20%;
    width: 50%;
}

.ranking-1rk{
    height: 100%;
    width: 20%;
    border: red solid 2px;
    text-align: center;
    justify-content: flex-start;
    order: 2;
    
}

.ranking-1rk img{
    height: 20%;
    width: 60%;
}

.ranking-3rk{
    height: 100%;
    width: 20%;
    border: blue solid 2px;
    text-align: center;
    justify-content: flex-start;
    order: 3;
}
.ranking-3rk_namerankbox{  
    position: relative; /* 위치 지정을 위해 상대적인 위치로 설정 */
    background-color: rgb(27, 100, 209); /* 배경색을 빨간색으로 설정 */
}

.ranking-3rk_namerankbox::before{  
    content: ""; /* 가상 요소(content)를 생성 */
  position: absolute; /* 위치를 상대적인 요소에 대해 절대적으로 설정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/ranking/1st.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* 이미지 크기 조정을 위해 contain으로 설정 */
  z-index: 1; /* 이미지를 상위로 겹치기 위해 z-index 설정 */
}



.ranking-3rk img{
    height: 20%;
    width: 40%;
}

.ranking-etc{
border:solid 1px black;
display: flex;
justify-content: flex-start;
align-items: center;
/* position: fixed; */
position: relative; /* 변경된 부분 */
height: 100%;
width: 40%;
transform: translate(-50, -50%);
/* background: url("../public/img/bg.jpg") no-repeat center center; */
flex-direction: column;
/* z-index: 1; */
}

.ranking-etc_titlebox{
    width: 85%;
    padding: 10px;
    border: purple solid 2px;
    margin-top: 10px;
}

.ranking-etc_ranklist{
    width: 85%;
    border: pink solid 2px;
    margin-top: 10px;
}

.ranking-etc_rank {
    width: 100%;
    height: 58px;
    border: black solid 2px;
    display: flex;
    flex-direction: row;
    position: relative; /* 부모 요소를 기준으로 자식 요소의 위치를 조정하기 위해 position을 설정합니다. */

}

.ranking-etc_rank img{
    width: 40px;
    height: 50px;
    /* padding-bottom : px; */
}

.ranking-etc_emptyrank {
    width: 100%;
    height: 58px;
    border: black solid 2px;
}

.ranking-etc_namebox{
    border: solid purple 2px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}