.add-friend {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#search-friend {
	width: 97%;
	height: 60px;
	border-radius: 12px;
	background-color: #7494D0;
	outline: none;
	border: none;
	padding-left: 20px;
}

#serch-friend-button {
	position: absolute;
	top: 5px;
	right: 8px;
	width: 92px;
	height: 50px;
	border-radius: 100px;
	background-color: #90B4FA;
	outline: none;
	border: none;
	font-size: 25px;
	color: white;
}

.search-result-close-button {
	position: absolute;
	top: 8px;
	right: 8px;
}

.search-result {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 350px;
	height: 140px;
	top: 320px;
	left: -600px;
	border: 1px solid black;
	background-color: #f7f5e8;
	z-index: 2;
}
