.add-friend {
	width: 310px;
	height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: 10px;
}

#search-friend {
	width: 97%;
	height: 60px;
	border-radius: 12px;
	background-color: #7494D0;
	outline: none;
	border: none;
}

#serch-friend-button {
	position: absolute; /* 절대 위치 설정 */
	top: 5px;
	right: 8px;
	width: 92px;
	height: 50px;
	border-radius: 100px;
	background-color: #90B4FA;
	outline: none;
	border: none;
	font-size: 25px;
	color: white;
}