
.channel_list{
    position: relative; 
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    gap:20px;
    padding: 20px;
  }
  
  .chan-rowbox{
    align-items: center; 
    justify-content: center; 
    display: flex;
    width: 100%;
    height: 20%;
    gap: 20px;
  }
  
  .chan-leftbox{
    border: 1px solid black;
    width: 48%;
    height:100%;
    
  }
  
  .chan-rightbox{
    border: 1px solid black;
    width: 48%;
    height:100%;  
  }
  
  .chan-room{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  
  .chan-lockcheck{
    width: 30px;
    height: 35px;
    display: inline-block;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .chan-lockcheck img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .chan-hostinfo {
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .chan-hostimg {
    border:solid 1px gray;
    width: 65px;
    height: 70px;
    display: inline-block;
    justify-content: center;
    overflow: hidden;
  }

  .chan-hostimg img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
  }
  
  .chan-hostname {
    background-image: url("../../public/img/bg.jpg");
    border: solid 1px gray;
    width: 60px;
    height: 20px;
    font-size: small;
    text-align: center;
    position: absolute;
    bottom: 10px; 
    background-color:transparent;
  }
  
  .chan-info{
    flex-direction: column;
    display: flex;
    justify-content: center;
    
  }
  
  .chan-name{
    margin-top: 10px;
    border: solid 1px gray;
    padding: 5px;
    width: 250px;
    height: 30px;
    text-align: center; 
    align-items: center;
    font-size: large;
    display: flex;
    padding-top: 10px;
  }
  
  .chan-pw_inputbox{
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: row;
    display: flex;
  }
  
  .chan-pw_input{
    border: solid 1px gray;
    margin-right: 10px;
    width: 70px;
    height: 30px;
  }
  
  .chan-count{
    border: solid 1px gray;
    display: flex;
    width: 40px;
    margin-left: 210px;
    margin-top: 50px;
    text-align: center; 
    justify-content: center;
    position: absolute;
  }
  
  .chan-empty_rightbox
  {
    width: 48%;
    height:100%;  
  }
  
  .chan-left-right_button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 999; 
  }
  
  .chan-right_button {
      width: 30px;
      height: 30px;
      margin-left: 10px;
      margin-right: 10px;
      border: none;
      background: url("../../public/channel/right_icon.png") no-repeat center center;
      background-size: contain; 
      padding: 0;
  }
  
  .chan-left_button
  {
      width: 30px;
      height: 30px;
      margin-left: 10px;
      margin-right: 10px;
      border: none;
      background: url("../../public/channel/left_icon.png") no-repeat center center;
      background-size: contain; 
      padding: 0;
  }
  
  .chan-empty_left_button{
      width: 30px;
      height: 30px;
      margin-left: 10px;
      margin-right: 10px;
      visibility:hidden;
  }
  
  .chan-empty_right_button{
      width: 30px;
      height: 30px;
      margin-left: 10px;
      margin-right: 10px;
      visibility:hidden;
  }
  
  .chan-left_button, .chan-right_button img{
    max-width: 100%;
    max-height: 100%;
  }
  
  .hidden{
    display: none;
  }
  
  .chan-new_make {
    border:solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30%;
    left: 35%;
    transform: translate(-50, -50%);
    width: 350px;
    height: 435px;
    background: url("../../public/img/bg.jpg") no-repeat center center;
    flex-direction: column;
    z-index: 1;
  }
  
  .chan-new-make_close {
      background-color:transparent;
      border: none;
      position: absolute;
      top: 10px;
      left: 8px;
  }
  
  .chan-new_namebox{
    width:240px;
    height:96;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .chan-new_nameAndcheckbox{
    display: flex;
    flex-direction: row;
  }
  
  .chan-new_name{
    font-size: x-large;
    padding-bottom: 10px;
    padding-left: 70px;
  }
  
  .toggleSwitch {
    margin-top:8px;
    margin-left:15px;
    width: 35px;
    height: 20px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
    cursor: pointer;
  }
  

  .toggleSwitch .toggleButton {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: yellowgreen;
  }
  
  #toggle:checked ~ .toggleSwitch {
    background: yellowgreen;
  }
  
  #toggle:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 20px);
    background: #fff;
  }
  
  .toggleSwitch, .toggleButton {
    transition: all 0.2s ease-in;
  }
  
  .chan-new_publicAndPrivate{
    padding-left: 5px;
    padding-top: 8px;
    font-size: 15px;
  }
  
  .chan-new_input_title{
    width: 200px;
    text-align: center;
  
  }
  
  .chan-new_pwbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: large;
  }
  
  .chan-new_pwcheck{
    display: flex;
    flex-direction: row;
  }
  
  .chan-new_pw{
    font-size: x-large;
    padding-bottom: 5px;
  }
  
  .chan-new_input_password{
    width: 150px;
    height: 28px;
    text-align: center; 
    font-size: 15px;
  }
  
  .chan-new_make_do_box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
  }
  
  .chan-new_make_checkbox {
    transform: scale(1.2); 
    margin-top: 10px; 
    margin-right: 8px;
    size: large;
    margin-bottom: 12px;
  }
  
  .chan-new_make_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 26px;
    border: 1px solid gray;
    background-color:transparent;
    margin-top: 20px;
    font-size: large;
  }